ul.tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #d7e4f2 #d7e4f2;
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    display: block;
    height: 25px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #e7eef4;
    border-color: #d7e4f2 #d7e4f2 #d7e4f2 transparent;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0 0 -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: auto;
}
ul.tabs li a {
    border: 1px solid #fff;
    color: #6E99C4;
    display: block;
    font-size: 1em;
    outline: medium none;
    padding: 0 20px;
    text-decoration: none;
}
ul.tabs li a:hover {
    background: none repeat scroll 0 0 #d2e0ed;
}
ul.tabs li.active, ul.tabs li.active a:hover {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #fff;
    color: #6E99C4;
    font-weight: bold;
}
ul.tabs li.active {
    border-top: 1px solid #ffa223;
}
.tab_container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: transparent #d7e4f2 #d7e4f2;
    border-image: none;
    border-right: 1px solid #d7e4f2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: block;
    overflow: hidden;
    padding: 0 !important;
    clear: both;
}
.tab_content {
    padding: 12px;
    position: relative;
    border: medium none;
}
